.cards__item {
  width: 240px;
  margin-right: 100px;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__item:nth-of-type(3) {
  margin: 0;
}